.inputBoxGridPos{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}


.spacingFilter{
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 10px;
    border-bottom: 5px solid powderblue;
}

.spacingButton{
    margin-top: 15%;
}